<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PC_SHOP</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="brands">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Brands
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="offers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Offer Types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Item Inventory
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listitems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listed Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="requests">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Requests
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
