@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PC_SHOP</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-6">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="accounts">
                        <span class="oi oi-list" aria-hidden="true"></span> Accounts
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="adminitems">
                        <span class="oi oi-list" aria-hidden="true"></span> All Items
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="adminlistitems">
                        <span class="oi oi-list" aria-hidden="true"></span> All Listed Items
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="adminpurchaserequests">
                        <span class="oi oi-list" aria-hidden="true"></span> All Purchase Requests
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="admintraderequests">
                        <span class="oi oi-list" aria-hidden="true"></span> All Trade Requests
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="transactions">
                        <span class="oi oi-list" aria-hidden="true"></span> Transaction History
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="categories">
                        <span class="oi oi-list" aria-hidden="true"></span> Categories
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="conditions">
                        <span class="oi oi-list" aria-hidden="true"></span> Conditions
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="brands">
                        <span class="oi oi-list" aria-hidden="true"></span> Brands
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="payments">
                        <span class="oi oi-list" aria-hidden="true"></span> Payments
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="reviews">
                        <span class="oi oi-list" aria-hidden="true"></span> Reviews
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="alllistitems">
                        <span class="oi oi-cart" aria-hidden="true"></span> Listed Items
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="items">
                        <span class="oi oi-box" aria-hidden="true"></span> My Inventory
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="listitems">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My Listed Items
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="outpurchaserequests">
                        <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Outgoing Purchase
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="inpurchaserequests">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Incoming Purchase
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="outtraderequests">
                        <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Outgoing Trade
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="intraderequests">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Incoming Trade
                    </NavLink>
                </li>
                <li class="nav-item px-6">
                    <NavLink class="nav-link" href="usertransactions">
                        <span class="oi oi-book" aria-hidden="true"></span> Transactions Summary
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
