@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<style>

    .navbar-custom {
        background-color: #00CED1;
    }


</style>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-6">
    <a class="navbar-brand" href="">PCTRADE</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="accounts">
                            <span class="oi oi-list" aria-hidden="true"></span> Accounts
                        </NavLink>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="reviews">
                            <span class="oi oi-list" aria-hidden="true"></span> Reviews
                        </NavLink>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="transactions">
                            <span class="oi oi-list" aria-hidden="true"></span> Transactions
                        </NavLink>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-list" aria-hidden="true"></span> Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="adminitems"><span class="oi oi-list" aria-hidden="true"></span> Items</a>
                            <a class="dropdown-item" href="adminlistitems"><span class="oi oi-list" aria-hidden="true"></span> Listed Items</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-list" aria-hidden="true"></span> Requests
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="adminpurchaserequests"><span class="oi oi-list" aria-hidden="true"></span> Purchase Requests</a>
                            <a class="dropdown-item" href="admintraderequests"><span class="oi oi-list" aria-hidden="true"></span> Trade Requests</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-list" aria-hidden="true"></span> System
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="categories"><span class="oi oi-list" aria-hidden="true"></span> Categories</a>
                            <a class="dropdown-item" href="conditions"><span class="oi oi-list" aria-hidden="true"></span> Conditions</a>
                            <a class="dropdown-item" href="brands"><span class="oi oi-list" aria-hidden="true"></span> Brands</a>
                            <a class="dropdown-item" href="payments"><span class="oi oi-list" aria-hidden="true"></span> Payments</a>
                        </div>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="alllistitems">
                            <span class="oi oi-cart" aria-hidden="true"></span>  Marketplace
                        </NavLink>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="items">
                            <span class="oi oi-box" aria-hidden="true"></span> Inventory
                        </NavLink>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="listitems">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Listed Items
                        </NavLink>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-bell" aria-hidden="true"></span> Requests
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">Purchases</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="outpurchaserequests"><span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Outgoing Purchase</a>
                            <a class="dropdown-item" href="inpurchaserequests"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Incoming Purchase</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Trades</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="outtraderequests"><span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Outgoing Trade</a>
                            <a class="dropdown-item" href="intraderequests"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Incoming Trade</a>
                        </div>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="usertransactions">
                            <span class="oi oi-book" aria-hidden="true"></span> Transactions
                        </NavLink>
                    </li>

                </NotAuthorized>
            </AuthorizeView>

        </ul>
        <ul class="navbar-nav ml-auto">
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link">
                            @context.User.Identity.Name
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>

                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="userreviews">
                            <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name Profile
                        </NavLink>
                    </li>

                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="#" @onclick="BeginSignOut" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                            <span class="oi oi-plus" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                    <li class="nav-item px-6">
                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>

        </ul>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}




