@page "/inpurchaserequests/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create Requests</h3>
<hr />
<br />

<FormComponent ButtonText="Create request" purchaserequest="purchaserequest" OnValidSubmit="@CreatePurchaseRequest" />

@code {
    PurchaseRequest purchaserequest = new PurchaseRequest();

    private IList<Item> Items;
    private IList<Payment> Payments;
    private IList<ListItem> ListItems;

    protected async override Task OnInitializedAsync()
    {
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
        ListItems = await _client.GetFromJsonAsync<List<ListItem>>($"{Endpoints.ListItemsEndpoint}");
    }

    private async Task CreatePurchaseRequest()
    {
        await _client.PostAsJsonAsync(Endpoints.PurchaseRequestsEndpoint, purchaserequest);
        _navManager.NavigateTo("/inpurchaserequests/");
    }
}
