@page "/requests/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create Requests</h3>
<hr />
<br />

<FormComponent ButtonText="Create request" request="request" OnValidSubmit="@CreateRequest" />

@code {
    Request request = new Request();

    private IList<Item> Items;
    private IList<Offer> Offers;
    private IList<Payment> Payments;
    private IList<ListItem> ListItems;

    protected async override Task OnInitializedAsync()
    {
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
        Offers = await _client.GetFromJsonAsync<List<Offer>>($"{Endpoints.OffersEndpoint}");
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
        ListItems = await _client.GetFromJsonAsync<List<ListItem>>($"{Endpoints.ListItemsEndpoint}");
    }

    private async Task CreateRequest()
    {
        await _client.PostAsJsonAsync(Endpoints.RequestsEndpoint, request);
        _navManager.NavigateTo("/requests/");
    }
}
